*,
*::before,
*::after {
  box-sizing: border-box; 
}

*:focus:not(:focus-visible) {
  outline: none; 
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.69445vw; /* 10px */
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  text-rendering: auto;
  line-height: 1.2;
  margin: 0;
  padding: 0; 
}

body {
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  text-rendering: auto;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
}

input,
textarea {
  -webkit-animation: bugfix infinite 1s;
  line-height: inherit;
  margin: 0;
  padding: 0; 
}

a {
  color: unset; 
}

a,
a:hover {
  text-decoration: none; 
}

button,
input,
a,
textarea {
  outline: none;
  border: none;
  cursor: pointer;
  font: inherit; 
}

button:focus,
input:focus,
a:focus,
textarea:focus {
    outline: none; 
}

button:active,
input:active,
a:active,
textarea:active {
    outline: none; 
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0; 
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

button {
  color: inherit;
  text-align: inherit;
  text-rendering: auto;
  padding: 0;
  background-color: inherit; 
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none; 
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; 
}

input[type="number"] {
  -moz-appearance: textfield; 
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: inherit;
}

.container {
  width: 111rem;
  margin: 0 auto; 
}

.button {
  padding: 1.4rem 1.9rem;
  background: #FF7400;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.35;
  text-transform: uppercase;
}

.title span {
  color: #BC9060;
}

.header {
  position: absolute;
  padding-top: 5rem;
  left: 50%;
  transform: translate(-50%,0);   
}

.header-wrapp {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  color: #FFFFFF;
}

.header-logo {
  width: 10rem;
  height: 6.8rem;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  margin-right: 3.6rem;
}

.header-item:not(:last-child) {
  margin-right: 2.3rem;
}

.header-link {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.35;
  text-transform: uppercase;
}

.header-card {
  width: 1.9rem;
  height: 1.7rem;
  position: relative;
}

.header-card:after {
  content: "";
  width: 0.1rem;
  height: 5.1rem;
  background-color: #FFFFFF;
  position: absolute;
  right: -2.1rem;
  top: 50%;
  transform: translate(0,-50%);  
}

.header-phone {
  margin-left: 5.2rem;
  margin-right: 4.5rem;
  max-width: 18rem;
}

.header-number {
  display: flex;
  margin-bottom: 0.1rem;
}

.header-number span {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.4;
}

.header-text {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.35;
}

.header-tel {
  width: 2.3rem;
  height: 2.3rem;
  margin-right: 0.8rem;
}

.burger-menu {
  display: none;
  transition: all 0.3s ease-in-out; 
}




/* HERO */

.hero {
  padding-top: 32.2rem;
  min-height: 80rem;
  background: url("../img/hero-bg.jpg");
  background-repeat: no repeat;
  background-size: cover;
  background-position: center;
}

.hero-descr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 54rem;
}

.hero-sub {
  font-family: 'Tinos',sans-serif;
  font-weight: 400;
  font-size: 5rem;
  line-height: 1.14;
  color: #D67E35;
}

.hero-title {
  font-family: 'Tinos', sans-serif;
  font-weight: 400;
  font-size: 8rem;
  line-height: 1.15;
  color: #D67E35;
  margin-bottom: 1.2rem;
}

.hero-text {
  position: relative;
  margin-bottom: 2rem;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.39;
  color: #FFFFFF;
  text-transform: uppercase;
}

.hero-text:after, .hero-text:before {
  content: "";
  display: block;
  width: 6.1rem;
  height: 0.2rem;
  background: #C4C4C4;
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);  
}

.hero-text:after {
  left: -8rem;
}

.hero-text:before {
  right: -8rem;
}


/* ADVANTAGES */

.advantages {
  padding-bottom: 15rem;
}

.advantages-wrapp {
  display: flex;
  justify-content: space-between;
  margin-top: -11rem; 
}

.advantages-card {
  width: 34.9rem;
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 4.8rem 2rem 5.4rem 2rem;
  text-align: center;
  box-shadow: 1rem 1rem 4rem 2rem rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
}

.advantages-icon {
  width: 8.7rem;
  height: 8.7rem;
}

.advantages-about {
    font-family: 'Tinos',sans-serif;
    font-weight: 400;
    line-height: 1.15;
}

.advantages-title {
  font-size: 2.6rem;
  color: #2C2C2C;
  margin-bottom: 2rem;
}

.advantages-text {
  font-size: 2.6rem;
  color: #656363;
}


/* HISTORY */

.history {
  padding-bottom: 12.2rem;
}

.history-wrapp {
  display: flex;
  justify-content: space-between; 
}

.history-descr {
  width: 44.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.history-title {
  font-family: 'Tinos';
  font-size: 5.4rem;
  line-height: 1.15;
  color: #000000;
  margin-bottom: 2.1rem;
  text-align: center;
}

.history-text {
  font-family: 'Open Sans';
  font-size: 1.6rem;
  line-height: 1.4;
  text-align: center;
  color: #656363;
  margin-bottom: 8rem;
}

.history-list {
  display: flex;
}

.history-item {
  text-align: center;
}

.history-item:nth-child(2) {
  margin-left: 4.1rem;
  margin-right: 3rem;
}

.history-num {
  font-weight: 400;
  font-size: 4rem;
  line-height: 1.35;
  color: #BC9060;
}

.history-num-text {
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.35;
  color: #000000;
}

.history-img {
  position: relative;
  display: flex;
  width: 53.9rem;
  height: 49.8rem;
}

.history-img-1 {
  position: absolute;
  z-index: 1;
  top: 40%;
  left: 0;
  transform: translate(0,-50%); 
  width: 23.3rem;
  height: 30rem;
  box-shadow: 2rem 0 3rem 0.3rem rgba(0, 0, 0, 0.5); 
}

.history-img-2 {
  position: absolute;
  right: 0;
  height: 50rem;
  filter: drop-shadow(0.3rem 0.7rem 0.7rem rgba(0, 0, 0, 0.25));
}

/* HOLIDAY */ 

.holiday {
  padding-top: 8rem;
  padding-bottom: 10.4rem;
  background-image: url("../img/rest-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.holiday-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.holiday-descr {
  max-width: 66rem;
}

.holiday-title {
  font-family: 'Tinos';
  font-weight: 400;
  font-size: 5.2rem;
  line-height: 1.15;
  color: #D67E34;
  margin-bottom: 2rem;
}

.holiday-text {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.4;
  color: #FFFFFF;
}

.holiday-button {
  height: 5rem;
}


/* OFFERS */

.offers {
  position: relative;
  padding-top: 13rem;
  padding-bottom: 15rem;
}

.offers-title {
  font-family: 'Tinos';
  font-weight: 400;
  font-size: 5.4rem;
  line-height: 1.15;
  color: #000000;
  margin-bottom: 14rem;
  text-align: center;
}

.offers-wrapp {
  display: flex;
}

.offers-left {
  margin-right: 3rem;
  width: 40.5%;
  height: 47.8rem;
  overflow: hidden;
}

.offers-left img {
  object-fit: cover;
}

.offers-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 59.5%;
}

.offers-item {
  display: flex;
  align-items: center;
  overflow: hidden; 
}

.offers-item img {
  width: 16rem;
  height: 14rem;
  margin-right: 3rem;
}

  .offers-about {
    display: flex;
    align-items: center;
  }

.offers-name {
  font-family: 'Tinos';
  font-weight: 400;
  font-size: 2.6rem;
  line-height: 1.15;
  color: #000000;
}

.offers-line {
  margin-left: 0.7rem;
  margin-right: 1.1rem;
  font-size: 1.6rem;
}

.offers-coin {
  font-family: 'Tinos';
  font-weight: 400;
  font-size: 2.6rem;
  line-height: 1.15;
}


/* MENU */

.menu {
  width: 100%;
  height: 103.6rem;
  padding-top: 10rem;
  background: url("../img/menu-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.menu-wrapp {
  display: flex;
  justify-content: space-between; 
}

.menu-title {
  font-family: 'Tinos';
  font-style: normal;
  font-weight: 400;
  font-size: 5.4rem;
  line-height: 62px;
  color: #FFFFFF;
  text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  margin-bottom: 13.8rem;
}

.menu-item {
  position: relative;
  max-width: 35rem;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 8rem 6.2rem 3rem;
}

.menu-plash {
  padding: 0.8rem 1.1rem;
  font-weight: 400;
  font-size: 1.3rem;
  text-align: center;
  background-color: #D67E34;
  position: absolute;
  left: 0;
  top: 0;
  text-transform: uppercase;
}

.menu-top {
  position: relative;
}

.menu-top img {
  width: 22.5rem;
  height: 22.5rem;
  margin-bottom: 2.2rem;
  border-radius: 50%;
}

.menu-weight {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: #D67E34;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1rem solid #FFFFFF;
  font-family:'Cookie',sans-serif;
  font-weight: 400;
  font-size: 3rem;
  line-height: 110%;
  color: #FFFFFF;
  position: absolute;
  right: -1rem;
  bottom: 2rem;
}

.menu-subtitle {
  font-family: 'Tinos',sans-serif;
  font-weight: 400;
  font-size: 2.6rem;
  line-height: 115%;
  margin-bottom: 1.7rem;
  color: #000000;
}

.menu-text {
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 110%;
  text-align: center;
  color: #000000;
  margin-bottom: 2rem;
}

.menu-button {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 138%;
  padding: 1.4rem 6.8rem;
  background-color: #D67E34; 
  box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, 0.25);
}


/* REVIEWS */

.reviews {
  padding-top: 10.5rem;
  padding-bottom: 10.5rem;
  background-color: #E5E5E5;
}

.reviews-slider {
  max-width: 92rem ;
} 

.reviews-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-weight: 400;
  font-size: 2rem;
  line-height: 135%;
}

.reviews-text {
  margin-bottom: 2.5rem;
}

.reviews-avatar {
  width: 10rem;
  height: 10rem;
  margin-bottom: 1.6rem;
  border-radius: 50%;
}

.reviews-name {
  margin-bottom: 5rem;
}

.reviews-name span:first-child {
  display: block;
  margin-bottom: 1rem;
}

.reviews-slider .swiper-pagination-bullet {
  width: 0.5rem;
  height: 0.5rem;
}

.reviews-slider .swiper-pagination-bullet-active {
  background-color: inherit;
  width: 0.7rem;
  height: 0.7rem;
  border: 0.1rem solid #FF7400;
}

.reviews-pagination {
  display: flex;
  align-items: center;
  justify-content: center; 
}

/* GALLERY */

.gallery {
  padding-top: 10rem;
  padding-bottom: 10rem;
  position: relative;
}

.gallery-title {
  text-align: center;
  font-weight: 400;
  font-size: 5.4rem;
  line-height: 115%;
  margin-bottom: 6rem;
}

.gallery-item {
  display: flex;
  justify-content: space-between; 
}

.gallery-item:first-child {
  margin-bottom: 2rem;
}

.gallery-item:first-child::after, .gallery-item:first-child::before {
  content: "";
  height: 10rem;
  width: 3rem;
  background-color: #FF0000;
  position: absolute;
  top: 22.1rem; 
}

.gallery-item:first-child::after {
  right: 0;
}

.gallery-item:first-child::before {
  left: 0;
}



.gallery-img {
  display: flex;
  justify-content: space-between;
  width: 49%; 
}

.gallery-img-b, .gallery-img-s {
  width: 49%;
  overflow: hidden;
}

.gallery-img-b img, .gallery-img-s img {
  object-fit: cover;
}


/* COOKS */

.cooks {
}

.cooks-title {
  text-align: center;
  font-weight: 400;
  font-size: 5.4rem;
  line-height: 115%;
  margin-bottom: 10.7rem;
}

.cooks-wrapp  {
  display: flex;
  justify-content: space-between;  
  margin-bottom: 10rem;
}

.cooks-item {
  width: 35rem;
  height: 46.2rem;
  overflow: hidden;
}

.cooks-item img {
  object-fit: cover;
}

.reservation {
  overflow: hidden;
}



@media (max-width: 80em) {
  html { 
    font-size: 0.765vw;
  }
}


@media (min-width: 48em) {
  .button:hover {
    background-color: #D86504;
  }

  .offers-wrapp img:hover, .gallery img:hover, .cooks img:hover {
    transform: scale(1.05); 
  }

}

@media (max-width: 48em) {
  html { 
    font-size: 1.5625vw;
  }

  .container {
    width: 100%;
    padding: 0 4rem;
  }

  .header {
    padding-top: 2rem;
    width: 100%;
  }

  .burger-menu {
    display: block;
  }

  .header-nav {
    position: fixed;
    top: 0;
    left: -100%;
    right: 0;
    bottom: 0;
    padding: 4rem;
    background-color: #000000;
    height: 100vh;
    width: 100%;
    display: block;
    transition: 0.3s;
  }

  .header-list {
    flex-direction: column;
  }

  .header-card {
    margin-bottom: 2rem;
  }

  .header-card:after {
    display: none;
  }

  .header-phone {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 2rem;
  }

  .header-item {
    margin-bottom: 3rem;
  }

  .header-link {
    font-size: 2rem;
  }

  .burger-menu {
    position: fixed;
    z-index: 9; 
    right: 3rem;
  }

  .header-nav.active {
    left: 0;
  }

  .hero {
    background: url("../img/mobile-bg.jpg");
    background-repeat: no-repeato;
    background-size: cover;
    background-position: center;
    min-height: 120rem;
    padding-top: 43.3rem;
  }

  .hero-text:after, .hero-text:before {
    display: none;
  }

  .hero-sub {
    font-size: 6rem;
  }

  .hero-text {
    font-size: 3rem;
    margin-bottom: 9rem; 
  }
  
  .hero-button {
    font-size: 2.8rem;
    padding: 2.8rem 9rem;
  }

  .advantages {
    padding-bottom: 7.5rem;
  }

  .advantages-wrapp {
    flex-direction: column; 
  }

  .advantages-card {
    width: 100%;
    min-height: 53rem;
  }

  .advantages-icon {
    width: 17rem;
    height: 17rem;
  }

  .advantages-card:not(:last-child) {
    margin-bottom: 3rem;
  }

  .advantages-title {
    font-size: 4rem;
    margin-bottom: 6rem
  }

  .advantages-text {
    font-size: 3.4rem;
    left: 140%;
  }

  .history-wrapp {
    flex-direction: column;
  }

  .history-list {
    flex-direction: column;
  }

  .history-item:not(:last-child) {
    margin-bottom: 4.4rem;
  }

  .history-descr {
    width: 100%;
    margin-bottom: 9rem;
  }

  .history-title {
    font-size: 10rem;
    margin-bottom: 9rem;
  }

  .history-text {
    font-size: 3.2rem;
    margin-bottom: 10rem;
  }

  .history-num {
    font-size: 8rem;
  }

  .history-num-text {
    font-size: 4rem;
  }

  .holiday {
    padding-top: 4rem;
    padding-bottom: 6rem;
  }

  .holiday-wrap {
    flex-direction: column;
  }

  .holiday-title {
    font-size: 6rem;
    text-align: center;
    margin-bottom: 4rem;
  }

  .holiday-text {
    font-size: 4.8rem;
    text-align: center;
    margin-bottom: 8rem;
  }

  .holiday-button {
    font-size: 2.8rem;
    padding: 2.5rem, 2rem;
    height: auto;
  }

  .offers {
    padding-top: 6.3rem;
    padding-bottom: 12.6rem;
  }

  .offers-title {
    margin-bottom: 7rem;
    font-size: 10rem;
    padding: 0 2rem;
  }

  .offers-wrapp {
    flex-direction: column;
    padding-top: 105rem;
  }

  .offers-about {
    flex-direction: column;
  }

  .offers-line {
    display: none;
  }

  .offers-left {
    width: 100%;
    margin-right: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 30rem;
    height: 95rem;
    margin-bottom: 8rem;
  }

  .offers-right {
    width: 100%;
  }

  .offers-item:not(:last-child) {
    margin-bottom: 8.7rem;
  }

  .offers-item img {
    margin-right: 1.6rem;
    width: 26rem;
    height: 26rem;
  }

  .offers-name {
    text-align: center;
    margin-bottom: 0.3rem;
    font-size: 3.5rem;
    line-height: 1.4;
  }

  .menu {
    height: 125rem;
  }

  .menu-title {
    margin-bottom: 7rem;
    font-size: 9rem;
  }

  .menu-wrapp {
    flex-direction: column;
    justify-content: flex-start; 
  }

  .menu-item {
    max-width: 100%;
    padding: 16rem 6.2rem 6rem;
  }

  .menu-item:nth-child(2), .menu-item:nth-child(3) {
    display: none;
  }

  .menu-top img {
    width: 40rem;
    height: 40rem;
  }

  .menu-subtitle {
    font-size: 5rem;
  }

  .menu-text {
    font-size: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .menu-button {
    font-size: 3rem;
    padding: 2rem 11.8rem;
  }

  .menu-weight {
    width: 15rem;
    height: 15rem;
    font-size: 6rem;
  }

  .reviews {
    padding-top: 2rem;
  }

  .reviews-text {
    font-size: 4rem;
    line-height: 150%;
    margin-bottom: 5rem;
  }

  .reviews-avatar {
    width: 20rem;
    height: 20rem;
  }

  .reviews-name {
    margin-bottom: 10rem;
  }

  .reviews-name span:first-child {
    font-weight: 600;
    font-size: 4rem;
    line-height: 140%;
  }

  .reviews-name span:last-child {
    font-size: 4rem;
    line-height: 140%;
  }

  .reviews-slider .swiper-pagination-bullet {
    width: 1rem;
    height: 1rem;
  }

  .reviews-slider .swiper-pagination-bullet-active {
    width: 1.4rem;
    height: 1.4rem;
    border: 0.2rem solid #FF7400;
  }

  .gallery-item:first-child::after, .gallery-item:first-child::before {
    display: none;
  }

  .gallery-item {
    flex-direction: column;
    width: 100%;
  }

  .gallery-item:first-child .gallery-img-b {
    margin-bottom: 4rem;
  }

  .gallery-item:last-child .gallery-img-s:last-child {
    margin-bottom: 4rem;
  }

  .gallery-img {
    flex-direction: column;
    width: 100%;
  }

  .gallery-img-b {
    width: 100%;
    height: 55rem;
  }

  .gallery-img-s {
    width: 100%;
    height: 62rem;
  }

  .gallery-img-s:first-child {
    margin-bottom: 4rem;
  }

  .gallery-item:first-child {
    margin-bottom: 4rem;
  }

  .gallery-img-s img, .gallery-img-b img {
    object-fit: cover;
  }

  .cooks-wrapp {
    flex-direction: column; 
  }

  .cooks-item {
    height: 76rem;
    width: 100%;
  }

  .cooks-item:not(:last-child) {
    margin-bottom: 4rem;
  }

  .reservation {
    height: 100rem;
  }

  .reservation img {
    object-fit: cover;
  }
}

